header{
    padding: 0px 20px;
    margin: 0px 0px;
    text-align: end;
    text-decoration: none;
    background-color: cornflowerblue;

}
#header{
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    border-image: 5px ;
}

footer{
    background-color: cornflowerblue;
    text-align: justify;
}
#brasil{
    text-decoration: none;
    color: black;
    background-color: cornflowerblue;

}

